body {
    margin: 0;
    padding: 0;
  
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
  }

  a{
    text-decoration: none;
  }

  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-header{
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #f4f7f9;
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .site-navigation{
    list-style: none;
  }

  .operation-header {
    width: 100%;
    color: #ffffff;
    background-color: #293449;
    margin-bottom: 46px;
  }

  .operation-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .operation-header a{
    color: #ffffff;
    background-color: #293449;

 
  }

.site-navigation {
  color: #ffffff;
    background-color: #293449;
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.site-navigation a {
  color: #ffffff;
  background-color: #293449;
 
}

.search input{
  color: #ffffff;
  background-color: transparent;
  font: inherit;
  border: none;
}

.search{
  padding-left: 49px;
}

.bookmarks {
  padding-left: 80px;
  padding-top: 14px;
}

.basket {
  padding-left: 78px;
  padding-top: 14px;
}

.order{
  padding-left: 51px;
  padding-top: 14px;
}

.info-header{
  display: flex;
justify-content: space-between;
}


.slogan {
  color: #ee3643;
  font-style: italic;
  line-height: 23px;
  font-size: 16px;
  width: 196px;
}

.tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  border:  2px solid #ffffff;
  padding: 13px 52px 11px 74px;
  display: flex;
}

.address {
  color: #32425c;
  font-size: 14px;
  
}

.header-reg-btn{
  width: 281px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.login{
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  padding: 15px 27px 15px 48px;
  display: flex;
  width: 121px;
  box-sizing: border-box;
  
}

.reg{
  color: #000000;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 21px;
  padding: 15px 25px 15px 25px;
  display: flex;
  width: 150px;
  box-sizing: border-box;
}